<header class="header__container">
    <div class="header__list">
        <h3 class="header-heading">Quản lý dự án Fpoly</h3>
        <div class="header__navbar">
            <div class="header__navbar-list">
                <ul class="header__navbar-list-item">
                    <li class="header__navbar-item"><a routerLink="/">Bảng điều khiển</a></li>
                    <li class="header__navbar-item">
                        <a routerLink="/du-an">Dự án<i class="bi bi-caret-down-fill main__option-list-icon"></i></a>
                        <ul class="header__navbar-item-mininavbar1">
                            <li class="header__navbar-item-mininavbar-item">
                                <a routerLink="/du-an/them" class="header__navbar-item-mininavbar-item-link">Thêm dự án</a>
                            </li>
                            <li class="header__navbar-item-mininavbar-item">
                                <a routerLink="/du-an" class="header__navbar-item-mininavbar-item-link">List dự án</a>
                            </li>
                        </ul>
                    </li>
                    <li class="header__navbar-item">
                        <a routerLink="/task">Task<i class="bi bi-caret-down-fill main__option-list-icon"></i></a>
                        <ul class="header__navbar-item-mininavbar1">
                            <li class="header__navbar-item-mininavbar-item">
                                <a routerLink="/task/them" class="header__navbar-item-mininavbar-item-link">Thêm task</a>
                            </li>
                            <li class="header__navbar-item-mininavbar-item">
                                <a routerLink="/task" class="header__navbar-item-mininavbar-item-link">List task</a>
                            </li>
                        </ul>
                    </li>
                    <li class="header__navbar-item">
                        <a routerLink="/nhan-vien">Thành viên trong team<i class="bi bi-caret-down-fill main__option-list-icon"></i></a>
                        <ul class="header__navbar-item-mininavbar1">
                            <li class="header__navbar-item-mininavbar-item">
                                <a routerLink="/nhan-vien/them" class="header__navbar-item-mininavbar-item-link">Thêm thành viên</a>
                            </li>
                            <li class="header__navbar-item-mininavbar-item">
                                <a routerLink="/nhan-vien" class="header__navbar-item-mininavbar-item-link">List thành viên</a>
                            </li>
                        </ul>
                    </li>

                    <li class="header__navbar-item">
                        <a href="#">Xin Chào <i class="bi bi-caret-down-fill main__option-list-icon"></i></a>
                        <ul class="header__navbar-item-mininavbar1" style="width: 150px; text-align: center;">
                            <li class="header__navbar-item-mininavbar-item">
                                <a href="" routerLink="/register" class="header__navbar-item-mininavbar-item-link">Đăng ký</a>
                            </li>
                            <li class="header__navbar-item-mininavbar-item">
                                <a href="" (click)="onLogout()" class="header__navbar-item-mininavbar-item-link">Đăng xuất</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="header__navbar-search">
                <input type="text" class="header__navbar-search-input" placeholder="Tìm kiếm">
                <button class="header__navbar-search-button">Tìm</button>
            </div>
        </div>
    </div>
    <div class="header__control">
        <h4 class="header__control-heading">Trang chủ</h4>
        <p class="header__control-extra">/ bảng điều khiển</p>
    </div>
    <p class="date">2/3/2024</p>
</header>
<div class="container1">
    <router-outlet></router-outlet>
</div>