<div class="content">
    <div class="aside__left">
        <h3>Trưởng nhóm</h3>
        <div class="aside__left-user">
            <div class="aside__left-user-img" style="background-image: url(https://www.iconpacks.net/icons/2/free-user-icon-3296-thumb.png);"></div>
            <h4 class="aside__left-user-name">Poly technic</h4>
        </div>
        <div class="aside__left-myteam">
            <p class="aside__left-myteam-text">Tóm tắt về team</p>
            <ul class="aside__left-myteam-list">
                <li class="aside__left-myteam-item">
                    <a class="aside__left-myteam-item-link" href="">Số lượng thành viên</a>
                    <p class="aside__left-myteam-item-quantity">67</p>
                </li>
                <li class="aside__left-myteam-item">
                    <a class="aside__left-myteam-item-link" href="">Tổng chi phí của tất cả dự án</a>
                    <p class="aside__left-myteam-item-quantity">$240k</p>
                </li>
                <li class="aside__left-myteam-item">
                    <a class="aside__left-myteam-item-link" href="">Các task đang xử lý</a>
                    <p class="aside__left-myteam-item-quantity">18</p>
                </li>
                <li class="aside__left-myteam-item">
                    <a class="aside__left-myteam-item-link" href="">Dự án sắp triển khai</a>
                    <p class="aside__left-myteam-item-quantity">20%</p>
                </li>
            </ul>
        </div>
        <div class="aside__left-guest">
            <p class="aside__left-guest-text">Khách hàng</p>
            <ul class="aside__left-guest-list">
                <li class="aside__left-guest-item"><a class="aside__left-guest-item-link" href="">ABC Cake Ltd</a></li>
                <li class="aside__left-guest-item"><a class="aside__left-guest-item-link" href="">DEF Software Solution</a></li>
                <li class="aside__left-guest-item"><a class="aside__left-guest-item-link" href="">GHI Industries</a></li>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="main__option-double">
            <div class="main__option">
                <div class="main__option-list-head">
                    <p>Dự án</p> <i class="bi bi-caret-down-fill main__option-list-icon"></i></div>
                <ul class="main__option-list">

                    <li class="main__option-item">
                        <a href="" class="main__option-link"> Dự án 1 </a>
                    </li>
                    <li class="main__option-item">
                        <a href="" class="main__option-link"> Dự án 2</a>
                    </li>

                </ul>
            </div>
            <div class="main__option">
                <div class="main__option-list-head">
                    <p>Dự án</p> <i class="bi bi-caret-down-fill main__option-list-icon"></i></div>
                <ul class="main__option-list">

                    <li class="main__option-item">
                        <a href="" class="main__option-link"> Dự án 1 </a>
                    </li>
                    <li class="main__option-item">
                        <a href="" class="main__option-link"> Dự án 2</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="main__content">
            <div class="main__content-first">
                <h4 class="main__content-first-heading">Tổng thể về dự án</h4>
                <ul class="main__content-first-list">
                    <li class="main__content-first-item">
                        <p class="main__content-first-item-left">Chi phí dự án</p>
                        <p class="main__content-first-item-right">$2,113,507.00</p>
                    </li>
                    <li class="main__content-first-item">
                        <p class="main__content-first-item-left">Hiện tại đã chi</p>
                        <p class="main__content-first-item-right">$96,778.00</p>
                    </li>

                    <li class="main__content-first-item">
                        <p class="main__content-first-item-left">Còn lại</p>
                        <p class="main__content-first-item-right">$52,536.00</p>
                    </li>
                </ul>
            </div>
            <div class="main__content-second">
                <h4 class="main__content-second-heading">Thành viên của nhóm</h4>
                <table class="main__content-table">
                    <th>Khu vực</th>
                    <th>Số lượng nhân viên</th>
                    <th>Nhân viên đang tạm nghỉ</th>
                    <tbody>

                        <tr>
                            <td>Bắc</td>
                            <td>20</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>
                                Trung </td>
                            <td>15</td>
                            <td>8</td>
                        </tr>

                        <tr>
                            <td>Nam</td>
                            <td>17</td>
                            <td>3</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="aside__right">
        <h3>Thành viên của team</h3>
        <ul class="aside__right-list-kv">
            <li class="aside__right-item">
                <p class="aside__right-item-name">Bắc</p>
                <div class="aside__right-item-wrapper">
                    <div class="aside__right-list-user">
                        <div class="aside__right-item-user">
                            <p class="aside__right-item-user-name">#Long</p>
                            <p class="aside__right-item-user-status">Avaliable</p>
                        </div>
                        <div class="aside__right-item-user">
                            <p class="aside__right-item-user-name">#Long</p>
                            <p class="aside__right-item-user-status">Avaliable</p>
                        </div>
                        <div class="aside__right-item-user">
                            <p class="aside__right-item-user-name">#Long</p>
                            <p class="aside__right-item-user-status">Avaliable</p>
                        </div>
                        <div class="aside__right-item-user">
                            <p class="aside__right-item-user-name">#Long</p>
                            <p class="aside__right-item-user-status">Avaliable</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="aside__right-item">
                <p class="aside__right-item-name">Trung </p>
            </li>

            <li class="aside__right-item">
                <p class="aside__right-item-name">Nam</p>
            </li>
        </ul>
    </div>
</div>